<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi CV</title>
    <style>
        body{
            background-color: bisque;
        }

        div{
            background-color: bisque;
            border: 1px solid black;
            padding: 12px;
            width: 60%;
            margin: 0 auto;
        }

        fieldset{
            margin-bottom: 12px;
        }

        legend{
            background-color: aqua;
            border: 1px solid black;
            padding: 5px;
            border-radius: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        <h1>Santiago Maldonado Barrios</h1>
        <p>Tengo 22 años, nací y crecí en Guatemala, apasionado por todo lo relacionado al networking. He pasado los últimos 4 años en la Universidad donde me he inclinado a aprender los distintos sistemas y programas, con el propósito de obtener experiencia y poderlos desarrollar de forma efectiva y eficiente en mi trayectoria laboral.</p>
        <fieldset>
            <legend>Educación</legend>
            <ul>
                <li>Colegio Bilingüe Campo Real: Bachillerato en ciencias y letras y computación</li>
                <li>Universidad Gelileo de Guatemala</li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Experiencia laboral</legend>
            <ul>
                <li>CSR Alorica Wallmart, Servicio al cliente</li>
                <li>CSR Alorica T-MOBILE, Servicio al cliente</li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Capacidades y competencias</legend>
            <ul>
                <li>Capacidad de adaptación</li>
                <li>Honesto</li>
                <li>Responsable</li>
                <li>Puntual</li>
                <li>Persistente</li>
                <li>Orientado a resultados</li>
                <li>Trabajo en equipo</li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Aptitudes</legend>
            <ul>
                <li>Inglés (80%)</li>
                <li>Microsoft Office (50%)</li>
                <li>Python (50%)</li>
                <li>Base de datos: MySQL (50%)</li>
                <li>Frontend: HTML, Angular, CSS (50%)</li>
                <li>Backend: Node JS, PHP (50%)</li>
            </ul>
        </fieldset>
    </div>
</body>
</html>

